:root {
	/* Fonts */
	--font-family: 'ampersand', 'montserrat', arial, helvetica, sans-serif;

		/* Base fonts */
		--base-font-size: 1em;
		--base-font-weight: 300;
		--base-line-height: 1.7;

		/* Title fonts */
		--title-font-size: 2.75em;
		--title-font-weight: 300;
		--title-letter-spacing: .25em;
		--title-line-height: 1.4;

		/* Heading fonts */
		--heading-font-size: 2em;
		--heading-font-weight: 500;
		--heading-line-height: 1.4;

	/* Colors */
	--color-primary: #62bf94;
	--color-warning: #c83741;
	--color-black: #031727;
	--color-grey: #f2f2f2;
	--color-white: #ffffff;

	/* Spacing */
	--spacing-unit: 24px;
	--spacing-unit: 1.5rem;
}
@media all and (min-width: 41em) {
	:root {
		--title-font-size: 4em;
	}
}

/*
====================
		Fonts
====================
*/

@font-face {
	font-family: ampersand;
	src: local('Baskerville'),
			 local('Goudy Old Style'),
			 local('Palatino'),
			 local('Book Antiqua');
	unicode-range: U+26;
}

/*
====================
		General
====================
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

body {
	color: var(--color-black);
	background-color: var(--color-grey);
	font-family: var(--font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

h1 {
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	letter-spacing: var(--title-letter-spacing);
	line-height: var(--title-line-height);
	text-transform: uppercase;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

h1 > span {
	position: relative;
	top: .1em;
	font-size: 1.5em;
}

h2 {
	font-size: var(--heading-font-size);
	font-weight: var(--heading-font-weight);
	line-height: var(--heading-line-height);
}

a {
	position: relative;
	padding-bottom: 5px;
	padding-bottom: .3125rem;
	outline: 0;
	color: var(--color-primary);
	font-weight: 500;
	text-decoration: none;
}
a::after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 0;
	height: 2px;
	height: .125rem;
	background-color: var(--color-primary);
	content: '';
	transition: width .3s ease-in-out;
}
a:focus::after,
a:hover::after,
a:active::after {
	width: 100%;
}

button,
a[role='button'] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	height: 4.375rem;
	padding: 24px;
	padding: var(--spacing-unit);
	border: 0;
	border-radius: 30px;
	border-radius: 4.375rem;
	outline: 0;
	color: var(--color-white);
	background-color: var(--color-primary);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: 1;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
button:focus,
button:hover,
a[role='button']:focus,
a[role='button']:hover,
a[role='button']:active {
	background-color: var(--color-black);
}
a[role='button']::after {
	content: none;
}

/*
====================
		Login
====================
*/

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

div > h1 {
	width: calc(100% - (2 * var(--spacing-unit)));
	max-width: 30rem;
	margin: var(--spacing-unit) auto;
}

form {
	display: grid;
	grid-template-columns: 1.5rem auto;
	width: calc(100% - (var(--spacing-unit) * 2));
	max-width: 30rem;
	margin: var(--spacing-unit) auto;
}

form input {
	grid-column: span 2;
	height: 4.375rem;
	padding: calc((3.125rem - 1em) / 2);
	border: 5px solid transparent;
	outline: 0;
	margin: 1rem 0;
	background-color: #fff;
	font-size: 1em;
	font-weight: 300;
}
form input:not([type='checkbox']):focus {
	border-color: var(--color-primary);
	transition: border .3s ease-in-out;
}

/* Custom checkbox: */
form input[type='checkbox'] {
	grid-column: span 1;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	border: 0;
	margin: 0;
	clip: rect(0,0,0,0);
}

form input[type='checkbox']::before {
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	padding: .25rem;
	background: #ccc;
	transition: all .3s ease-in-out;
}
form input[type='checkbox']:focus::before {
	border-radius: 50%;
}

input[type="checkbox"]:checked::before {
	border-radius: 50%;
	content: '\2713';
	color: #fff;
	background: var(--color-primary);
}

form input[type='checkbox'] + label {
	grid-column: 2/3;
	margin-left: 1rem;
}

form > a {
	grid-column: span 2;
	justify-self: start;
	margin: 1rem 0;
}

form button[type='submit'] {
	grid-column: span 2;
}

/*
====================
		Skip to content
====================
*/

body > a:first-child {
	z-index: 3;
	position: fixed;
	right: var(--spacing-unit);
	top: calc(3.125rem + var(--spacing-unit));
	display: block;
	opacity: 0;
	width: auto;
	height: 3.125rem;
	padding: calc((3.125rem - 1em) / 2);
	color: #fff;
	background-color: var(--primary-color);
	line-height: 1;
	text-decoration: none;
	pointer-events: none;
}
body > a:first-child:focus-within {
	opacity: 1;
	pointer-events: auto;
}

/*
====================
		Menu btns
====================
*/

a#close-menu,
a#open-menu {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	display: block;
	width: 70px;
	width: 4.375rem;
	margin: var(--spacing-unit);
	border-radius: 50%;
}

a#close-menu > svg,
a#open-menu > svg {
	display: block;
	width: 100%;
	fill: var(--color-white);
}

a#open-menu {
	display: none;
	background-color: var(--color-white);
}
a#open-menu > svg {
	fill: var(--color-primary);
}

a#open-menu:target {
	display: block;
}
a#open-menu:target + nav {
	display: block;
}

/*
====================
		Menu
====================
*/

nav[role='menu'] {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100vh;
	padding: calc(4.375rem + (2 * var(--spacing-unit))) var(--spacing-unit);
	background-color: var(--color-primary);
}

nav[role='menu'] > ul {
	display: block;
	width: 100%;
}

nav[role='menu'] li {
	position: relative;
	display: block;
	margin: var(--spacing-unit) 0;
}
nav[role='menu'] li:last-child {
	margin: 0;
}

nav[role='menu'] li > ul {
	position: relative;
	display: block;
	opacity: 0;
	overflow: hidden;
	max-height: 0;
	margin-left: calc(2 * var(--spacing-unit));
	transition: all .3s ease-in-out;
}
nav[role='menu'] li:focus-within > a + ul,
nav[role='menu'] li:hover > a + ul {
	opacity: 1;
	overflow: visible;
	max-height: 50rem;
}

nav[role='menu'] li > a {
	position: relative;
	display: block;
	padding-left: var(--spacing-unit);
	color: var(--color-white);
	font-size: var(--heading-font-size);
	font-weight: var(--heading-font-weight);
	line-height: 1;
}
nav[role='menu'] li > a::before {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	opacity: 0;
	width: 5px;
	height: 100%;
	background-color: var(--color-black);
	transform: translateX(-50vw);
	transition: all .3s ease-in-out;
	content: '';
}
nav[role='menu'] li > a:focus::before,
nav[role='menu'] li > a:hover::before,
nav[role='menu'] li > a:active::before {
	opacity: 1;
	transform: translateX(0);
}
nav[role='menu'] li > a::after {
	content: none;
}

/*
====================
		Header
====================
*/

header[role='banner'] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 75vh;
	padding: calc(2 * var(--spacing-unit));
	color: var(--color-white);
	background: var(--color-primary);
	background: linear-gradient(-45deg, var(--color-primary), #468B6B);
	background-size: 400% 400%;
	text-align: center;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*
====================
		Main
====================
*/

main {
	display: block;
	width: 100%;
	padding: var(--spacing-unit);
	-webkit-column-count: 1;
  -webkit-column-gap: var(--spacing-unit);
}
@media all and (min-width: 40em) {
	main {
		-webkit-column-count: 2;
	}
}
@media all and (min-width: 60em) {
	main {
		-webkit-column-count: 3;
	}
}

/*
====================
		Items
====================
*/

main > a[role='button'] {
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	padding: 0;
	border-radius: 0;
	margin-bottom: var(--spacing-unit);
	background: none;
	transition: transform .3s ease-in-out;
}
main > a[role='button']:focus,
main > a[role='button']:hover,
main > a[role='button']:active {
	transform: scale(1.05, 1.05);
}
main > a[role='button']::after {
	content: none;
}

main > a[role='button'] article {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	background-color: #fff;
	transition: all .3s ease-in-out;
}

main > a[role='button'] article > img {
	display: block;
	width: 100%;
	height: auto;
}

main > a[role='button'] article > h2 {
	position: absolute;
	left: 0;
	bottom: var(--spacing-unit);
	display: block;
	opacity: 1;
	padding: var(--spacing-unit);
	color: #fff;
	background-color: rgba(3,23,39,.8);
	font-size: 1.25em;
	transform: translateX(0);
	transition: all .3s ease-in-out;
}
main > a[role='button']:focus article > h2,
main > a[role='button']:hover article > h2,
main > a[role='button']:active article > h2 {
	opacity: .7;
	transform: translateX(-100%);
}

/*
====================
		Item Detail
====================
*/

#item-detail {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	display: none;
	max-width: 35rem;
	margin: var(--spacing-unit) auto;
	background-color: #fff;
	box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
}

#item-detail > [role='button'] {
	z-index: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border: 0;
	border-radius: 50%;
	margin: var(--spacing-unit);
}

#item-detail h2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	padding: var(--spacing-unit);
}

#item-detail figure {
	display: block;
	width: 100%;
	overflow: hidden;
	max-width: min-content;
	margin: auto;
}

#item-detail img {
	max-width: 35rem;
	height: auto;
}

#item-detail figcaption > p,
#item-detail figcaption > footer {
	padding: var(--spacing-unit);
}

/* Show the article detail on click */
#item-detail:target {
	display: block;
}

/* Hide the article detail on click */
html:target > #item-detail {
	display: none;
}

/*
====================
		Rating
====================
*/

#item-detail fieldset {
	position: absolute;
	right: 0;
	bottom: calc(-9rem - var(--spacing-unit));
	left: 0;
	display: block;
	width: 100%;
	max-width: 20rem;
	height: auto;
	padding: 0;
	border: 0;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}
@media all and (min-width: 45rem) {
	#item-detail fieldset {
		top: 0;
		bottom: 0;
		left: calc(100% + 1.5rem);
		width: 5rem;
		margin: 0;
	}
}

#item-detail fieldset > legend {
	display: block;
	width: 100%;
	margin-bottom: var(--spacing-unit);
	font-weight: 500;
}

#item-detail fieldset > input {
	opacity: 0;
}

#item-detail fieldset > input + label {
	position: relative;
	float: left;
	width: calc(25% - 1.5rem);
	max-width: 3.5rem;
	padding-top: 15%;
	margin: .75rem;
	cursor: pointer;
	font-size: .75em;
	transform: scale(1,1);
	transition: transform .3s ease-in-out;
}
#item-detail fieldset > input:focus + label,
#item-detail fieldset > input:hover + label {
	transform: scale(1.5,1.5);
}
@media all and (min-width: 45rem) {
	#item-detail fieldset > input + label {
		clear: both;
		display: block;
		width: 3.5rem;
		padding-top: 3rem;
	}
}

#item-detail fieldset > input + label > svg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: block;
	width: 75%;
	height: auto;
	margin: 0 auto;
	transform: rotate(10deg);
}
#item-detail fieldset > input:focus + label > svg,
#item-detail fieldset > input:hover + label > svg {
	animation: Wobble 1.5s cubic-bezier(.36,-0.18,.48,1.18) infinite;
}

@keyframes Wobble {
	0%, 100% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-15deg);
	}
}

/*
====================
		Step Indicator
====================
*/

nav[role='status'] {
	display: block;
	width: 100%;
	padding: calc(var(--spacing-unit) / 2);
	background-color: var(--color-primary);
}
@media all and (min-width: 45rem) {
	nav[role='status'] {
		top: 0;
	}
}

nav[role='status'] h1 {
	margin: calc(var(--spacing-unit) / 2);
}

nav[role='status'] progress[value] {
	position: relative;
	display: block;
	width: calc(100% - var(--spacing-unit));
	height: 1.5625rem;
	margin: var(--spacing-unit) calc(var(--spacing-unit) / 2);
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
nav[role='status'] progress[value]::before {
	z-index: 1;
	position: absolute;
	left: 1rem;
	top: 0;
	display: block;
	height: 100%;
	color: var(--color-white);
	font-weight: 500;
	content: '25%';
}

nav[role='status'] progress[value]::-webkit-progress-bar {
	border-radius: 3.125rem;
	background-color: #fff;
}

nav[role='status'] progress[value]::-webkit-progress-value {
	position: relative;
	border-radius: 3.125rem 0 0 3.125rem;
	background-color: var(--color-black);
}

nav[role='status'] ol {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.5rem;
}

/* Give h1, progress and ol a max-width: */
nav[role='status'] h1,
nav[role='status'] progress[value],
nav[role='status'] ol {
	max-width: 35rem;
}

nav[role='status'] li {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	padding: calc((2.5rem - 1em) / 2);
	border-radius: 50%;
	outline: 0;
	margin: calc(var(--spacing-unit) / 2);
	background-color: #fff;
	font-size: .75em;
	font-weight: 500;
	line-height: 1;
	list-style-type: none;
	counter-increment: ol-item;
	transform: scale(1,1);
	transition: transform .3s ease-in-out;
}
nav[role='status'] li:focus {
	transform: scale(1.2,1.2);
}
nav[role='status'] li::before {
	margin-bottom: 150%;
	content: counter(ol-item);
	font-size: 1rem;
}

nav[role='status'] li > a {
	color: var(--color-white);
}
nav[role='status'] li > a::after {
	background-color: var(--color-white);
}

/* Completed tasks have a green background: */
nav[role='status'] li:nth-child(1) {
	color: var(--color-white);
	background-color: var(--color-black);
}

/*
====================
		Chat
====================
*/

section {
	position: relative;
	left: 0;
	top: 3.125rem;
	display: block;
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	margin-top: var(--spacing-unit);
}
@media all and (min-width: 45rem) {
	section {
		top: 0;
	}
}

section ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

section li {
	display: block;
	max-width: 60%;
	margin: var(--spacing-unit);
	list-style-type: none;
}

section li:nth-child(odd) {
	align-self: flex-end;
}

section li > p {
	padding: var(--spacing-unit);
	border-radius: 70px;
	background-color: #fff;
	text-align: center;
}

section li:nth-child(odd) > p {
	color: #fff;
	background-color: var(--color-primary);
}

section li > footer {
	margin-top: .5rem;
	font-size: .75em;
}

section form {
	display: block;
	width: 100%;
	max-width: none;
	padding: var(--spacing-unit);
	background-color: var(--color-primary);
}

section form label {
	display: block;
	font-size: 1.5em;
	color: #fff;
}

section form textarea {
	display: block;
	width: 100%;
	height: calc((2 * var(--spacing-unit)) + 1.4em);
	padding: var(--spacing-unit);
	border: 5px solid transparent;
	outline: 0;
	margin: var(--spacing-unit) auto;
	resize: none;
	background-color: #fff;
	font-size: 1em;
	font-weight: 300;
	line-height: 1;
}
section form textarea:focus {
	border-color: var(--color-black);
	transition: border .3s ease-in-out;
}

section form textarea::placeholder {
	color: #ccc;
}

section form button {
	display: block;
	width: 100%;
	height: 3.125rem;
	padding: 0;
	border: 0;
	margin: 0;
	cursor: pointer;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
	background-color: var(--color-black);
}
section form button:focus,
section form button:hover {
	color: var(--color-black);
	background-color: var(--color-white);
}
