:root {
	/* Fonts */
	--font-family: 'ampersand', 'montserrat', arial, helvetica, sans-serif;

		/* Base fonts */
		--base-font-size: 1em;
		--base-font-weight: 300;
		--base-line-height: 1.7;

		/* Title fonts */
		--title-font-size: 3em;
		--title-font-weight: 300;
		--title-letter-spacing: .25em;
		--title-line-height: 1.4;

		/* Heading fonts */
		--heading-font-size: 2em;
		--heading-font-weight: 500;
		--heading-line-height: 1.4;

	/* Colors */
	--color-primary: #62bf94;
	--color-warning: #c83741;
	--color-black: #031727;
	--color-grey: #f2f2f2;
	--color-white: #ffffff;

	/* Spacing */
	--spacing-unit: 24px;
	--spacing-unit: 1.5rem;
}
@media all and (min-width: 30em) {
	:root {
		--title-font-size: 4em;
	}
}

/*
====================
		Fonts
====================
*/

@font-face {
	font-family: ampersand;
	src: local('Baskerville'),
			 local('Goudy Old Style'),
			 local('Palatino'),
			 local('Book Antiqua');
	unicode-range: U+26;
}

/*
====================
		General
====================
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

body {
	color: var(--color-black);
	background-color: var(--color-grey);
	font-family: var(--font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

h1 {
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	letter-spacing: var(--title-letter-spacing);
	line-height: var(--title-line-height);
	text-transform: uppercase;
	word-break: break-all;
}

/* h1 > span {
	position: relative;
	top: .1em;
	font-size: 1.5em;
} */

h2 {
	font-size: var(--heading-font-size);
	font-weight: var(--heading-font-weight);
	line-height: var(--heading-line-height);
}

p {
	max-width: 30em;
}

a {
	position: relative;
	padding-bottom: 5px;
	padding-bottom: .3125rem;
	outline: 0;
	color: var(--color-primary);
	font-weight: 500;
	text-decoration: none;
}
a::after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 0;
	height: 2px;
	height: .125rem;
	background-color: var(--color-primary);
	content: '';
	transition: width .3s ease-in-out;
}
a:focus::after,
a:hover::after,
a:active::after {
	width: 100%;
}

button,
a[role='button'] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	height: 4.375rem;
	padding: 24px;
	padding: var(--spacing-unit);
	border-radius: 30px;
	border-radius: 1.875rem;
	color: var(--color-white);
	background-color: var(--color-primary);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: 1;
}
a[role='button']::after {
	content: none;
}

/*
====================
		Skip to content
====================
*/

body > a:first-child {
	display: none;
}

/*
====================
		Menu btns
====================
*/

a#close-menu,
a#open-menu {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	display: block;
	width: 70px;
	width: 4.375rem;
	margin: var(--spacing-unit);
	border-radius: 50%;
}

a#close-menu > svg,
a#open-menu > svg {
	display: block;
	width: 100%;
	fill: var(--color-white);
}

a#open-menu {
	z-index: 2;
	display: none;
	background-color: var(--color-white);
}
a#open-menu > svg {
	fill: var(--color-primary);
}

a#open-menu:target {
	display: block;
}
a#open-menu:target + nav {
	display: block;
}

/*
====================
		Menu
====================
*/

nav[role='menu'] {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100vh;
	padding: calc(4.375rem + (2 * var(--spacing-unit))) var(--spacing-unit);
	background-color: var(--color-primary);
}

nav[role='menu'] > ul {
	display: block;
	width: 100%;
}

nav[role='menu'] li {
	position: relative;
	display: block;
	margin: var(--spacing-unit) 0;
}
nav[role='menu'] li:last-child {
	margin: 0;
}

nav[role='menu'] li > ul {
	position: relative;
	display: block;
	opacity: 0;
	overflow: hidden;
	max-height: 0;
	margin-left: calc(2 * var(--spacing-unit));
	transition: all .3s ease-in-out;
}
nav[role='menu'] li:focus-within > a + ul,
nav[role='menu'] li:hover > a + ul {
	opacity: 1;
	overflow: visible;
	max-height: 50rem;
}

nav[role='menu'] li > a {
	position: relative;
	display: block;
	padding-left: var(--spacing-unit);
	color: var(--color-white);
	font-size: var(--heading-font-size);
	font-weight: var(--heading-font-weight);
	line-height: 1;
}
nav[role='menu'] li > a::before {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	opacity: 0;
	width: 5px;
	height: 100%;
	background-color: var(--color-black);
	transform: translateX(-50vw);
	transition: all .3s ease-in-out;
	content: '';
}
nav[role='menu'] li > a:focus::before,
nav[role='menu'] li > a:hover::before,
nav[role='menu'] li > a:active::before {
	opacity: 1;
	transform: translateX(0);
}
nav[role='menu'] li > a::after {
	content: none;
}

/*
====================
		Header
====================
*/

header[role='banner'] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 90vh;
	padding: calc(2 * var(--spacing-unit));
	color: var(--color-white);
	background: var(--color-primary);
	background: linear-gradient(-45deg, var(--color-primary), #5dd79e);
	background-size: 400% 400%;
	text-align: center;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*
====================
		Main
====================
*/

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	justify-items: start;
	align-items: start;
	grid-gap: var(--spacing-unit);
	width: 100%;
	min-height: 100vh;
	padding: var(--spacing-unit);
}

main > a[role='button'] {
	display: block;
	overflow: hidden;
	height: auto;
	padding: 0;
	border-radius: 0;
	background: none;
}
main > a::after {
	content: none;
}

main > a article {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #fff;
	transition: all .3s ease-in-out;
}

main > a article > img {
	display: block;
	width: 100%;
	height: auto;
}

main > a article > h2 {
	position: absolute;
	left: 0;
	bottom: var(--spacing-unit);
	display: block;
	opacity: 1;
	width: calc(100% - var(--spacing-unit));
	padding: var(--spacing-unit);
	color: #fff;
	background-color: rgba(3,23,39,.8);
	font-size: 1.25em;
	transition: all .3s ease-in-out;
}

/*
a {
	position: relative;
	padding-bottom: 5px;
	padding-bottom: .3125rem;
	outline: 0;
	color: var(--color-primary);
	font-weight: 500;
	text-decoration: none;
}

button,
a[role='button'] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	height: 4.375rem;
	padding: 24px;
	padding: var(--spacing-unit);
	border-radius: 30px;
	border-radius: 1.875rem;
	color: var(--color-white);
	background-color: var(--color-primary);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: 1;
}
*/
